APP_ENV=local
DB_SERVER=DESKTOP-L8F6T4Q
DB_NAME=larasa
DB_USER=sa
DB_PASSWORD=Descartes130
DB_TRUST_CERT=true
DEFAULT_CLIENT_ID=default
SESSION_NAME=DESCARTES_SESSION
DISPOSITIVO_AGENTE_URL=http://127.0.0.1:17321
